body{
    background-size: cover;
    background-image: url(https://media.snl.no/media/172101/standard_compressed_SeaLion_Lake_Superior.jpg);
}

#side-1 table{

    border-collapse: collapse;
    width:800px;
    opacity: 0.9;
}

#side-1 thead{

    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#side-1 tbody{
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    

#side-1 tfoot{
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#side-1 .side1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#side-1 h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
tr:nth-child(even){
    background-color: rgb(202, 226, 246);
    opacity: 0.9;
    
}
tr:nth-child(odd){
    background-color: rgba(190, 239, 239, 0.996);
    opacity: 0.9;
}
